.hide {
    display: none !important;
}

#app {
	background-color: rgb(0, 0, 0);
	height: 100vh;
	width: 100vw;
}

#startPage {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#playerNickname-form {
	margin-top: 1.5rem;
	text-align: center;
}

#playingField {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}


#gameBoard {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 3rem;
	width: 80%;
}

#play {
	background-color: #009200;
	height: 550px;
	width: 780px;
	position: relative;
	margin: auto;
}

#virus {
	width: 9%;
	position: absolute;
	top: 200px;
	left: 200px;
}

#players {
	flex-basis: 20%;
	border: 1px solid black;
}

#players h2 {
	background-color: cornflowerblue;
	padding: 0.5rem 0.75rem;
	color: white;
}

#waitForConnect {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#players ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}