/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/* fonts end */

.hide {
    display: none !important;
}

#app {
	background-color: #586F64;
	color: #D5D6D8;
	height: 100vh;
	width: 100vw;
}

.btn{
	background-color:#94B3A6;
	color: #D5D6D8;
	padding: 10px 20px;
	border: #D5D6D8;
}

.info-game{
	max-width: 300px;
	margin: 0 auto;
	font-size: 12px;
	font-style: italic;
}

#startPage {
	display: flex;
	height: 100vh;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

#playerNickname-form {
	margin-top: 1.5rem;
	text-align: center;
}

#playingField {
	height: 100vh;
	display: flex;
	justify-content: space-between;
}


#gameBoard {
	margin-left: 3rem;
	margin-right: 3rem;
	margin-top: 3rem;
	width: 80%;
}

#play {
	height: 550px;
	width: 780px;
	position: relative;
	margin: auto;
	display: flex;
}

#virus {
	width: 9%;
	position: absolute;
	top: 200px;
	left: 200px;
}

#players {
	flex-basis: 20%;
	border: 1px solid black;
}

#players h2, #players h3{
	background-color:#343C3E;
	padding: 0.5rem 0.75rem;
	color: white;
}

#waitForConnect {
	display:flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#players ul {
	margin: 0;
	padding: 0.5rem 0.75rem;
	list-style: none;
}

#message-wrapper {
	flex-grow: 1;
}

#messages li .user {
	font-weight: bold;
}

#messages .notice {
	font-style: italic;
}

#countdown{
	display: flex;
	align-items: center;
	margin: 0 auto;
	font-family: 'Orbitron', sans-serif;
	font-size: 70px;
}

.game-over{
	background-color: yellow;
	width: 100vh;
	height: 100vh;
}